$backGroundColor: #2A254B;
$whiteText: #FFFFFF;
$font: "Onest", sans-serif;


.headerWrapper {
    width: 1440px;
    height: 704px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .wrapWrapper {
        width: 1280px;
        height: 584px;
        display: flex;
        flex-direction: row;
        background-color: $backGroundColor;
        padding: 0%;
        margin: 0%;

        .textWrapper {
            width: 760px;
            height: 584px;

            .topTextWrapper {
                width: 513px;
                height: 187px;
                
                top: 60px;
                left: 60px;
                position: relative;
                .upText {

                    width: 513px;
                    height: 90px;


                    p {
                        font-family: "Onest", sans-serif;
                        font-weight: 400;
                        font-size: 32px;
                        color: $whiteText;
                        width: 100%;
                    }
                }

                .downText {

                    width: 170px;
                    height: 56px;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;

                    p {
                        
                    }
                }




            }
        }

        .imageWrapper {
            width: 520px;
            height: 584px;
            // background-image: url(../images/Right\ Image.png);
            background-size: cover;
            // background-repeat: no-repeat;

            img {
                width: 520px;
                height: 584px;

            }
        }



    }
}






    

        
    
