$backGroundColor: #2A254B;
$whiteText: #FFFFFF;


    div {

        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 704px;
        justify-content: center;
        align-items: center;

        .headerWrapper {
            background-color: $backGroundColor;
            width: 80vw;
            height: 70vh;
            // align-self: center;
            // justify-self: center;

            display: flex;
            flex-direction: row;

            .textWrapper {
                width: 100%;
                height: 100%;
            }

            .topWrapper {
                width: 513px;
                height: 187px;
                display: flex;
                flex-direction: column;

                .topTextWrapper {
                    width: 513px;
                    height: 90px;
                    display: flex;
                    flex-direction: column;

                    p{
                        font-family: Clash Display;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 32px;
                        color: $whiteText;
                        line-height: 140%;
                        letter-spacing: 0%;

                    }
                }
            }

            img {
                // width: 100%;
                height: 100%;
            }

        }
    }
