$backGroundColor: #2A254B;
$whiteText: #FFFFFF;
$font: "Onest", sans-serif;


.headerWrapper {
    width: 1440px;
    height: 704px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .wrapWrapper {
        width: 1280px;
        height: 584px;
        display: flex;
        flex-direction: row;
        background-color: $backGroundColor;
        padding: 0%;
        margin: 0%;

        .textWrapper {
            width: 760px;
            height: 584px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .topTextWrapper {
                width: 513px;
                height: 187px;
                
                top: 60px;
                left: 60px;
                position: relative;
                .upText {

                    width: 513px;
                    height: 90px;


                    p {
                        font-family: "Onest", sans-serif;
                        font-weight: 300;
                        font-size: 32px;
                        color: $whiteText;
                        width: 100%;
                    }
                }

                .downText {

                    width: 170px;
                    height: 56px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #F9F9F926;
                    flex-wrap: nowrap;
                    // opacity: 0.15;
                    margin-top: 16px;
                    opacity: 0.85;
                    

                    p {

                        color: $whiteText;
                        // text-align: center;
                        opacity: 1;
                        width: inherit;
                        height: auto;
                        text-align: center;
                        
                    }
                }




            }

            .bottomTextWrapper {
                width: 602px;
                height: 81px;
                opacity: 1;
                // top: 443px;
                // left: 60px;
                left: 60px;
                position: relative;
                bottom: 50px;

                p {
                    color: $whiteText;
                    width: inherit;
                    font-family: 'Satoshi';
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;

                    line-height: 150%;
                    letter-spacing: 0%;

                }

            }
        }

        .imageWrapper {
            width: 520px;
            height: 584px;
            // background-image: url(../images/Right\ Image.png);
            background-size: cover;
            // background-repeat: no-repeat;

            img {
                width: 520px;
                height: 584px;

            }
        }



    }
}






    

        
    
